# Dependencias
node_modules/
/.pnp
.pnp.js

# Variables de entorno y secretos (¡CRÍTICO!)
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Configuraciones locales de Editores/IDEs (Opcional pero muy recomendado)
.vscode/
